@using ViewsExample.Models;
@model PersonModel;

@*see _Layout for explanation of Layout nested view content*@
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <meta charset="UTF-8"/>
        <link href="/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <div class="page-content">
            <h1>Person Details</h1>
            <div class="box">
                <h3>@Model.Name</h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Gender</td>
                            <td>@Model.Gender</td>
                        </tr>
                        <tr>
                            <td>DOB</td>
                            <td>@Model.DateOfBirth?.ToString("MM//dd/yyyy")</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>